
doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content="CropAdvisor - Making Farmer's Life Easy")
    |     
    meta(name='author', content='')
    |     
    title CropAdvisor - Making Farmer&apos;s Life Easy
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/landing-page.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
      
     
  body
    // Navigation
    
    
    pre#json.
    .intro-forum
      h3 මා විසින් අසන ලද ගැටලු
      
    #con

    #exampleModal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
      .modal-dialog.modal-lg
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#exampleModalLabel.modal-title Query
              img#modalimage.img-responsive(src='', alt='')
            .modal-body
              form
                .form-group
                  input#modalqid(type='hidden', name='qid')
                  label.control-label(for='agent-username') Username:
                  input#agent-username.form-control(type='text')
                  label.control-label(for='agent-password') Password:
                  input#agent-password.form-control(type='password')
                .form-group
                  label.control-label(for='message-text') Response:
                  textarea#message-text.form-control
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close window
              button#sendresponse.btn.btn-primary(type='button') Send response
              
    #successalertmodal.modal.fade.bs-successalert-modal-lg(tabindex='-1', role='dialog', aria-labelledby='successAlertModal')
      .modal-dialog.modal-lg
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              .alert.alert-success(role='alert') Response successfuly updated 
              
    #serroralertmodal.modal.fade.bs-erroralert-modal-lg(tabindex='-1', role='dialog', aria-labelledby='errorAlertModal')
      .modal-dialog.modal-lg
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              .alert.alert-danger(role='alert') You are not allowed to respond to this query!           
    
    #viewQueryModel.modal.fade.view-query-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
      .modal-dialog.modal-lg
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#exampleModalLabel.modal-title ගැටලුව
              img#vmodalimage.img-responsive(src='', alt='')
            .modal-body
              form
                .form-group
                  input#vmodalqid(type='hidden', name='qid')
                  h4 පිළිතුරු
                  h3#exampleModalLabel.modal-res
                p#qv-response.qvmr 
                .form-group
                  input#modalqid-ind(type='hidden', name='qid')
                  input#agentrsp.form-control(type='text')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close window
              button#sendresponse_ind.btn.btn-primary(type='button') Send response
 
    // Footer
    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href='#') Home
              |                         
              li.footer-menu-divider &sdot;
              |                         
              li
                a(href='#about') About
              |                         
              li.footer-menu-divider &sdot;
              |                         
              li
                a(href='#services') Services
              |                         
              li.footer-menu-divider &sdot;
              |                         
              li
                a(href='#contact') Contact
        // /.navbar-collapse
            |                     
            p.copyright.text-muted.small Copyright &copy; CropAdvisor 2016. All Rights Reserve
      
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    
    script(type='text/javascript').
        $( document ).ready(function() {
        var myid = ''+!{ id };
                $.get('http://www.cropadvisor.site/uploads/getposts?id='+myid, function(data, status){
                //JSON.parse(data);
                //JSON.stringify(data);
                console.log(data);
                console.log(data.length);
                var d = "";
                var f = "";
                var counter = 0;
                for( var i=0; i < data.length; i++){
                    counter++;
                     console.log(counter);
                    if(i == 0 || i % 3 == 0 ){
                        d = "<div class='row'>";
                        console.log("1");
                    }
                          var id = data[i].id;
                          var user = data[i].user;
                          var content = data[i].content.replaceAll('%20',' ');
                          var image = data[i].image;
                          var datetime = data[i].datetime;
                          var status = data[i].status;
                          if (status == 'NEW'){
                            status = 'පිළිතුරු ලැබී නොමැත';
                          } else {
                            status = 'පිළිතුරු ලබී ඇත';
                          }
                          var s = "<div class='col-sm-6 col-md-4'>"+
                                       "<h3>"+content+"</h3>"+
                                        " <p><a href='' role='button' class='btn btn-success' data-toggle='modal' data-target='.view-query-modal-lg' data-qid='"+id+"' data-qcontent='"+content+"' data-qimage='"+image+"'>විස්තර</a></p>"+
                                    "<div class='thumbnail'><img src='uploads/"+image+"' alt='...'/>"+
                                     " <div class='caption'>"+
                                        "<p>"+status+"</p>"+
                                        "</div></div></div>";
                        d = d+s;                  
                    if (counter == data.length && i < 3){
                        console.log("2");
                        d = d+'</div>';
                        f = f+d;
                       // document.getElementById("con").innerHTML = d;
                    }
                    else if((i+1) == data.length){
                         console.log("3");
                        d = d+'</div>';
                        f = f + d;
                        //document.getElementById("con").append = d;
                    }
                    else if (counter == 3){
                         console.log("4");
                        counter = 0;
                        d = d+'</div>';
                        f = f + d;
                        //document.getElementById("con").append = d;
                    }
                }
                console.log(f);
                document.getElementById("con").innerHTML = f;
               // document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);
            });
        });
        String.prototype.replaceAll = function(search, replace)
            {
                //if replace is not sent, return original string otherwise it will
                //replace search string with 'undefined'.
                if (replace === undefined) {
                    return this.toString();
                }

                return this.replace(new RegExp('[' + search + ']', 'g'), replace);
            };
        $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('qcontent') // Extract info from data-* attributes
          var queryimage = button.data('qimage')
          var queryid = button.data('qid')
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('Query - ' + recipient)
          $("#modalqid").val(queryid);
          $('#modalimage').attr('src','uploads/'+queryimage);
        })    
        
        $(document).ready(function(){
            $("#sendresponse_ind").click(function(){
            var id = $('#vmodalqid').val();
            var resp = $('#agentrsp').val();
                $.post("http://www.cropadvisor.site/uploads/updateresponse-ind",
                {
                  id: id,
                  response: resp
                },
                function(data,status){
                    if(data.response == 'OK'){
                    console.log(id);
                    console.log(resp);
                    $('#successalertmodal').modal('show');
                    $('#viewQueryModel').modal('hide');
                    } else {
                        $('#serroralertmodal').modal('show');
                    }
                });
            });
        });
        
        $('#viewQueryModel').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('qcontent') // Extract info from data-* attributes
          var queryimage = button.data('qimage')
          var queryid = button.data('qid')
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          
          $.post("http://www.cropadvisor.site/uploads/getresponse",
                {
                  id: queryid
                },
                function(data,status){
                    modal.find('.modal-res').empty()
                   console.log(data);
                   if(data.length == 0){
                    modal.find('.modal-res').text(' ')
                   }
                   for( var i=0; i < data.length; i++){
                        modal.find('.modal-res').append('</br>')
                        modal.find('.modal-res').append('</br>')
                        modal.find('.modal-res').append('<span class=\'glyphicon glyphicon-grain\' aria-hidden=\'true\'></span>')
                        modal.find('.modal-res').append(' '+data[i].response)
                   }
                });
          
          var modal = $(this)
          modal.find('.modal-title').text('ගැටලුව - ' + recipient)
          $("#vmodalqid").val(queryid);
          $('#vmodalimage').attr('src','uploads/'+queryimage);
        })    
    
