doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 N+ñh f;arSu
    #section
      h2 rcfha kS;s j,g wkql+,o@
      ul
        li uOHu rcfha kS;s
        li m,d;a iNdfõ kS;s
        li m%dfoaYSh iNdfõ kS;s
      h2 Tnf.a bvu Ndjs;hg iqoqiqo@ ^¥IKh úh yels wdldr yªkd .ekSu" l< yels ms,shï&
      ul
         li N=ñfha yd c, m%Njj, ner f,day yd ydkslr laIqøðúka isàoehs mßlaId lsÍu i|yd mia idïm,hla yd wikak c, m%Njhkaf.a idïm,a mßlaId lr .kak 
          li bvï iSudj i,lKq lrñka jegla ieÈh hq;= w;r th j.d lrk fldgi fjka lrk f,i i,lKq l, hq;=h' 

      h3 fjk;a f;dr;=re
      ul 
        li N+ñfha w;S; j.djka
        li wjg bvï j, j.djka ----- wjOdkï
        li bvï fhda.H;d wOHhkh ----- l, yels wdldrh
        li lDIsl¾u fomd¾;fïka;=fõ ks¾foaY
      img(src='1.png')  
    #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor
