<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<link rel="stylesheet" type="text/css" href="/views/crops/web_view.css">

</head>
<body>

<div id="header">
<h1>භූN+ñh f;arSu</h1>
</div>

<div id="section">
    <h2>rcfha kS;s j,g wkql+,o@?</h2>
    <ul>
        <li>uOHu rcfha kS;</li>
        <li>m<d;a iNdfõ kS;</li>
        <li>m%dfoaYSh iNdfõ kS;s</li>
    </ul>

    <h2>Tnf.a bvu ¥Is; bvulao@ ^¥IKh úh yels wdldr yªkd .ekSu" l, yels ms<shï&</h2>    
    <ul>
        <li>ridhksl ¥IKh </li>
        <li>cSj úoHd;aul ¥IKh</li>
        <li>fN!;sl ¥IKh</li>
    </ul>

    <h2>fjk;a f;dr;=re</h2>
    <ul>
        <li>N+ñfha w;S; j.djka</li>
        <li>wjg bvï j, j.djk --------> wjOdkï</li>
        <li>bvï fhda.H;d wOHkh ---------> l, yels wdldrh</li>
        <li>lDIsl¾u fomd¾;fïka;=fõ ks¾foaY</li>
    </ul>

    <img src="1.png">
</div>

<div id="footer">
Copyright © CropAdvisor
</div>

</body>
</html>