<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<style>
#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
    width:100%;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

img {
    width: 100%;
    height: auto;
}
</style>
</head>
<body>

<div id="header">
<h1>භූමිය තේරීම</h1>
</div>

<div id="section">
    <h2>රජයේ නීති වලට අනුකූලද ?</h2>
    <ul>
        <li>මධ්‍යම  රජයේ නීති</li>
        <li>පළාත් සභාවේ නීති</li>
        <li>ප්‍රාදේශීය සභාවේ නීති</li>
    </ul>

    <h2>ඔබගේ ඉඩම දූෂිත ඉඩමක්ද? ( දූෂණය විය හැකි ආකාර හඳුනා ගැනීම, කල හැකි පිළියම් )</h2>    
    <ul>
        <li>රසායනික දූෂණය </li>
        <li>ජීව විද්‍යාත්මක දූෂණය </li>
        <li>භෞතික දූෂණය</li>
    </ul>

    <h2>වෙනත් තොරතුරු</h2>
    <ul>
        <li>භූමියේ අතීත වගාවන්</li>
        <li>අවට ඉඩම් වල වගාවන් --------> අවධානම්  X</li>
        <li>ඉඩම් යෝග්‍යතා අධ්‍යනය ---------> කල හැකි ආකාරය</li>
        <li>කෘෂිකර්ම දෙපාර්තමේන්තුවේ නිර්දේශ</li>
    </ul>

    <img src="1.png">
</div>

<div id="footer">
Copyright © CropAdvisor
</div>

</body>
</html>