doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 Y%uslhskaf.a mqoa.,sl fi!LHh
    #section
      h2 Y%uslhskaf.a mqoa.,sl fi!LHh
      p 
      | jev lrk Y%uslhkag mqoa., fi!LH wdrCIdj .ek m%udKjla oekqula ;snsh hq;=h
      a(style='font-family:sans-serif;') . 
      | mqoa., fi!LH wdrCIs; l%u ms,sn|j mqyqKqjla 
      p mqoa., fi!LH wdrCIs; l%u ms,sn| Wmfoia ,sLs;j m;%sldjla wdOdrfhka ,nd oSu yd iqoqiq ia:dk j, meyeos,sj m%orAYkh lsrSu
      p 
      | ojfia jev lghq;= wdrïN lsrSug fmr
      a(style='font-family:sans-serif;') , 
      | wiajkq ieliSfï yd weisrSfï lghq;= j,g fmr
      a(style='font-family:sans-serif;') , 
      | fmdfydr yd le,s li, we,a,Sfuka miq
      a(style='font-family:sans-serif;') , 
      | jeisls,s Ndjs;fhka miq
      a(style='font-family:sans-serif;') , 
      | oqï nSfuka miq yd lDIs ridhksl Ndjs;fhka miq
      a(style='font-family:sans-serif;') , 
      | w;a fidaod .ekSug fiajlhska oekqj;a l, hq;=h
      p ishMu mrSCIljrekag wdydr u.ska we;s jk frda.S ;;ajhka ms,sn|j wjfndaOhla ,nd oSug lghq;= lrkak
      p kejqï fnda. ksIamdok iu. fl,skau iamrAY jk mrsos isoq flfrk jev i|yd frda.S Y%uslhska fkdfhdokak
      p f.djsm, ;=, jev lrk jsg me,|Sug iqoqiq we|qula iEu Y%uslhl= i|ydu ,nd oSu iqoqiqh
      
    #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor