doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 f,aLk yd jd¾;d
    #section
      h2 my; i|yka jd¾;d kv;a;= lrkafkao@
      ul
        li N+ñfhaoS ksIamdok ¥IKh ùug we;s bvlv yd ta iïnkaOfhka fhdok ,o m%;sl¾u
        li Nñfha ¥IKh ù we;s ia:dk we;akï tajdfha msysàu oelafjk úia;r
        li mdrsirsl yd fN!;sl ydks isÿ ùug we;s yelshdj ms,sn| úia;r
        li f.dúmf,a ìï ie,iqï is;shu
        li N+ñfha N+úIu;djh fmkajk is;shu
        li frda. yd m,sfndaO md,kh i|yd fhdod we;s W.=,a yd weu ms,sn| úia;r ^fh¥ oskh, ;nd we;s ia:dkh, kv;a;= lsrSu mjrd we;s mqoa.,hd&
        li j.d lsrSug Ndú; l, fnda. m%fNaoh yd îc ms,sn| úia;r ^oskh, m%udKh, fnda.h, m%fNaoh, ,nd .;a ia:dkh wdoS&
        li fmdfydr yd mig tl;= lrk wfkl=;a øjH ñ,os .ekSï ms,sn| úia;r ^oskh, m%udKh, j¾.h, ñ,oS .;a ia:dkh wdoS&
        li fmdfydr yd mig tl;= lrk wfkl=;a øjH Ndú; lsrSu ms,sn| úia;r ^oskh, fnda.h, j¾.h, m%udKh, l%uh, fh¥ j.d m%udKh$lÜá wxl, fh¥ mqoa.,hd wdoS&
        li m,sfndaO kdYl ñ,oS .ekSï ms,sn| úia;r ^oskh, ku, j¾.h, ñ,oS .;a ia:dkh wdoS&
        li m,sfndaO kdYl fhoSu ms,sn| úia;r ^fnda.h, oskh, ku, m%udKh, fh¥ l%uh, fhoQ j.d m%udKh$lÜá wxl, fh¥ mqoa.,hd wdoS&
        li c, iïmdokh ms,sn| úia;r ^fnda.h, oskh, m%udKh, l%uh, fh¥ ld,h, j.dfõ fh¥ m%udKh$lÜá wxl, fh¥ mqoa.,hd wdoS&
        li Y%ñlhskag ,nd ÿka mqyqKq ms,sn| úia;r
        li wiajkq fk,Su yd miq wiajkq lghq;= ms,sn| úia;r ^fnda.h, oskh, fkÆ lÜá wxl, wiajekak, ieliSfuka miq ksIamdok m%udKh, f;d. wxl, hejQ fj,|fmd, wdoS&
        li krla jQ f;d. ms,sn| úia;r
        li iy;sl lsrSug wod, jd¾;d yd mrSCIKd.dr úYaf,aIK jd¾;d msgm;
        li kej; úu¾IKhg Ndckh l, frdamK lghq;= yd tajd ksjeros lsrSug .;a l%shd ud¾. ms,sn| jd¾;d
      h2 hym;a lDIsld¾ñl ms,sfj;a kej; mrSCId lr ne,Su
      ul
        li ish¨ hym;a lDIsld¾ñl ms,sfj;a ksjerosj bgq jkafka oehs jd¾Islj kej; mrSCId lsrSulg ,la lrkak. hï ms,sfj;la tfia fkdjk njg ksrSCIKh l,fyd;a th ksjeros lsrSug l%shd l, hq;=h
        li kej; mrSCId lsrSug Ndckh l, hym;a lDIsld¾ñl ms,sfj;a .ek yd tajd ksjeros lsrSug .;a l%shd ud¾. iïnkaOfhka jd¾;d ;nd .kak
        li wdydr j, fi!LHdrCIs; nj iïnkaOfhka ,efnk meñKs,s úi|Sug iq¥iq l%shd ud¾. .; hq;= w;r ta iïnkaOfhka jd¾;d ;nd .; hq;=h
    #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor