doctype html
html
  head
   meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
   link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 ìï ms,sfh, lsrSu
    #section
      h2 ìï ms,sfh, lsrSu
      ul
        li m,uq iS iEu - fikags óg¾ 20-30 la .eUqrg
        li fojk iSiEu u.ska fyd¢ka leg fmdvs lrkak' 
        li .,ajeá neñ wdÈh fhdod .ksñka bvfï mi wdrlaId lr .ekSug lghq;= lrkak
        img(src='2-1.jpeg')
        img(src='2-2.jpeg')
        li fjk;a bvïj,ska c,h fkdfhk f,i ldKq moaO;sh ilia lrkak'
   #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor
