<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<style>
#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
    width:100%;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

img {
    width: 100%;
    height: auto;
}
</style>
</head>
<body>

<div id="header">
<h1>බිම් පිළියෙළ කිරීම</h1>
</div>

<div id="section">
    <h2>බිම් පිළියෙළ කිරීම</h2>
    <ul>
        <li>පළමු සීසෑම - මීටර් 20-30ක් ගැඹුරට</li>
        <li>දෙවන සීසෑම මගින් හොඳි(How)</li>
        <li>පාංශු සංරක්ෂණ ක්රම යොදන්න (pic)</li>
        <li>පරිහානියට ලක්වූ බිම් කැබලි දියුණු කිරීම (How with Pic)</li>
    </ul>
</div>

<div id="footer">
Copyright © CropAdvisor
</div>

</body>
</html>