doctype html
html
  head
     meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 fnda. m%fNao iy îc Ndú;h 
    #section
      h2 fnda. m%fNao iy îc Ndú;h 
      ul
        li ;ukaf.a N+ñhg yd m%foaYhg jvd;au .e,fmk fukau ks¾foaYs; .=Kd;aul iy M,odhS îc j¾. fhdod .kak
      h2 lDIsl¾u fomd¾;fïka;=fõ ks¾foaY 
      h3 lrú,
      ul
        li tï' whs 43   
      img(src='1-3-1.jpg')  
      ul
        li ;skakfõ,s iqÿ 
      img(src='1-3-2.jpg')
      ul
        li ud;f,a fld<
      img(src='1-3-3.jpg')
      br
      h3 ks¾foaYs; fouqyqka m%fNao(  wmkhk úNjhla mj;sk  m%fNao
      ul
        li udhd
      img(src='1-3-3-1.jpeg')
      ul
        li md,s
      img(src='1-3-3-2.jpeg')
      br
      h3 jegfld¿
      ul
        li t,a' ta' 33
      img(src='1-3-4.jpg')  
      ul
        li wdisrs 
      img(src='1-3-5.jpg') 
      br
      h3 mf;da,
      ul
        li à' ta' 2 
      img(src='1-3-6.jpg')  
      ul
        li tï' whs' flá  
      img(src='1-3-7.jpg')  
      h3 isgqùug fmr ks¾foaYs; m%;sldr 
     #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor
