<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<style>
#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
    width:100%;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

img {
    width: 100%;
    height: auto;
}
</style>
</head>
<body>

<div id="header">
<h1>බෝග ප්‍රබේද සහ බීජ භාවිතය</h1>
</div>

<div id="section">
    <h2>බෝග ප්‍රබේද සහ බීජ භාවිතය</h2>
    <ul>
        <li>ගුණාත්මක සහ ඵලදායි බීජ වර්ග  යොදා ගන්න</li>
    </ul>

    <h2>කෘෂිකර්ම දෙපාර්තමේන්තුවේ නිර්දේශ (with pics and where to buy)</h2>
    <h3>කරවිල</h3>
    <ul>
        <li>එම්. අයි 43 (1)</li>
        <li>තින්නවේලි සුදු (2)</li>
        <li>මාතලේ කොළ (3)</li>
    </ul>
    <h3>වැටකොළු</h3>   
    <ul>
        <li>එල්.ඒ.33 (4)</li>
        <li>ආසිරි (5)</li>
    </ul>
    <h3>පතෝල</h3>
    <ul>
        <li>ටී. ඒ. 2 (6)</li>
        <li>එම්. අයි. කෙටි (7)</li>
    </ul>
    <h3>සිටුවීමට පෙර නිර්දේශිත ප්‍රතිකාර ( with pics)</h3>
</div>

<div id="footer">
Copyright © CropAdvisor
</div>

</body>
</html>