doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 isgqùug 
    #section
      img(src='4_1.PNG')
      p îc isgqùug osk  1-2 lg fmr j,j,a j,g ks¾foaYs; uQ,sl fmdfydr m%udKh oud fyd¢ka ïY% lrkak' îc isgqùug fmr rd;%shla mqrd c,fha fmdÕjd .kak'
      p fouqyqka ìc kï îc folla o" foaYSh ìc j¾.hla kï îc ;=kla o jk f,i fhdod.; hq;=h' foaYSh ìchkaf.ka j.d lr we;akï  fnda.h jefvk úg ÿ¾j, me,h .,jd bj;a l, hq;=h'


      h3 j.djg iqÿiq ld,h
      ul
        li wmkhk fj<|m,g .e,fmk f,i j.d ld, igyk ilid .; hq;=h' 
        
      p 
        |   fmd,s;ska nE.a u;=msg mia
        a(style="font-family: 'Times New Roman', Times, serif;") :
        | je,s
        a(style="font-family: 'Times New Roman', Times, serif;") :
        | fyd¢ka osrE f.du 
        a(style="font-family: 'Times New Roman', Times, serif;") 1:1:1 
        |   oud îc isgqjkak' tajd me,jQ miq îc me, flaIa;%fha isgqjkak
       img(src='1-4-1.jpeg')  
      h3 je,a mqyqKq lsrSu
      p îc isgqjd i;s 3lg miq óg¾ 2la Wi Yla;su;a mkao,ula u;g je,a hjkak 
       img(src='1-4-2.jpg')
      p mkao,ug my,ska m%Odk jef,a we;sjk md¾Yúl w;= lmd bj;a lrkak
      h3 j,a u¾okh
      p uq,a ld,fhaoS je,a j, uq, jgd we;s j,a w;ska .,jd oukak 
      p je,a jevqkq miq uq,a j,g ydks fkdjk mrsos Wo¨ .d j,a bj;a lrkak
      
     #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor
