<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<style>
#header {
    background-color:green;
    color:white;
    text-align:center;
    padding:5px;
}
#section {
    width:100%;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}

img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: sandya;
    src: url(sandiya.ttf);
}
</style>
</head>
<body>

<div id="header">
<h1>සිටුවීම</h1>
</div>

<div id="section">
    <img src="4_1.PNG">
    <p>බීජ සිටුවීමට දින 1-2කට පෙර වලවල් වලට නිදෙෂිත මූලික පොහොර ප්රමාණයන් දමා හොඳින් මිශ්ර කරන්න</p>
    <p>බීජ සිටුවීමට පෙර රාත්රියක් පුරා ජලයේ පොඟවා ගන්න.</p>
    <h3>වගාවට සුදූසු කාලය</h3>
    <ul>
        <li>මහා කන්නයේදී :</li>
        <ul>
            <li>ඔක්තෝබර් සිට නොවැම්බර්</li>
        </ul>
        <li>යල කන්නයේදී : </li>
        <ul>
            <li>අප්රේල් සිට මැයි</li>
        </ul>
        <li>තෙත් කලාපයේ :</li>
        <ul>
            <li>අවුරුද්ද පුරාම</li>
        </ul>
        <li>වියලි කලාපයේ :</li>
        <ul>
            <li>යල කන්නයේදී ජල සම්පාදනය යටතේ</li>
        </ul>
    </ul>

    <p>පොලිතීන් බෑග් මතුපිට පස්: වැලි : හොඳින් දිරූ  ගොම 1:1:1 දමා බීජ සිටුවන්න.  ඒවා පැලවූ පසු බීජ පැල  ක්ෂේත්රයේ සිටුවන්න (8)</p>

    <h3>වැල් පුහුණු කිරීම</h3>
    <p>බීජ සිටුවා සති 3කට පසු මීටර් 2ක් උස ශක්තිමත් පන්දලමක් මතට වැල්  යවන්න (9)</p>
    <p>පන්දලමට  පහලින් ප්රධාන වැලේ ඇතිවන පාර්ශ්වික අතු කපා ඉවත් කරන්න</p>

    <h3>වල්  මර්ධනය</h3>
    <p>මුල් කාලයේදී වැල් වල මුල වටා ඇති වල්  අතින් ගලවා දමන්න</p>
    <p>වැල් වැඩුනු පසු මුල් වලට හානි නොවන පරිදි උදලු ගා වල්  ඉවත් කරන්න</p>

    <h3 style="font-family:sandya;">fmdfydr fhoSu</h3>
    <p style="font-family:sandya;">fmdfydr Ndjs; lsrSu yd mig tl;= lrk fjk;a o%jH ksid hï ie,lsh hq;= ydkshla y|qkd .;fyd;a ksIamdokh oQIKh jSug ;sfnk bvlv wju lsrSu i|yd l%shd udrA. wkq.ukh lrkak</p>
    <p style="font-family:sandya;">ner f,day j,ska fnda. ksIamdok oQIKh jSu wju jk mrsos fmdfydr yd mig tl;= lrk fjk;a o%jH f;dard .kak</p>
    <p style="font-family:sandya;">fmdfydrla f,i usksia u< o%jH Ndjs; fkdlrkak</p>

    <h3>මෙම කරුණු සටහන් කර තබා ගන්න</h3>
    
    <ul>
        <li style="font-family:sandya;">fmdfydr yd mig tl;= lrk fjk;a o%jH</li>
        <li style="font-family:sandya;">,nd .;a ia:dkh</li>
        <li style="font-family:sandya;">j._h</li>
        <li style="font-family:sandya;">m%udKh</li>
        <li style="font-family:sandya;">,nd .;a oskh</li>
        <li style="font-family:sandya;">j.djg fhoQ oskh</li>
        <li style="font-family:sandya;">fhoQ o%jH</li>
        <li style="font-family:sandya;">fhoQ ia:dkh</li>
        <li style="font-family:sandya;">fhoQ m%udKh</li>
        <li style="font-family:sandya;">fhoQ l%uh</li>
        <li style="font-family:sandya;">l%shdlref.a ku</li>
        <li style="font-family:sandya;">,nd .;a ia:dkh</li>
        <li style="font-family:sandya;">,nd .;a ia:dkh</li>
        <li style="font-family:sandya;">,nd .;a ia:dkh</li>
    </ul>
    <p style="font-family:sandya;">lDIslrAu fomdrA;fïka;=fõ fmdfydr ksrAfoaYh mokï lrf.k fmdfydr fhoSu fyda mia yd m;% mrSCId lr fmdfydr fhoSu lrkak’</p>

    <h3 style="font-family:sandya;">lrjs,” jegfldMZ yd mf;da, i|yd fmdfydr ksrAfoaYh</h3>
</div>

<div id="footer">
Copyright © CropAdvisor
</div>

</body>
</html>