doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 c, iïmdokh yd c, l,ukdlrKh
    #section
      h2 c, iïmdokh yd c, l,ukdlrKh
      p fnda. c, wjYH;djh" c, iq,N;djh yd mdxY= f;;uk uÜgu mokï lrf.k c, iïmdokh isÿ lrkak'
      p Ndú; lrk c,fha .=Kd;aulNdjh iEu lkakhla mdidu mrSCId lr n,kak'
      p mfia iajNdjh yd jd¾Isl j¾Idm;kh u; c, iïmdok ld,dka;rh r|d mj;S'
      p c, iïmdok moaO;sh Ndú;d lsrSu iïnkaOfhka fnda.h ms,sn| úia;r" oskh" iïmdokh l< c, m%udKh fyda c, iïmdokh l< ld,h yd c, iïmdokh l< mqoa.,hdf.a ku wdoS úia;r ms,sn| jd¾;dj;a ;nd .kak'
      img(src='1-5-1.jpeg') 
      img(src='1-5-2.jpeg') 
      p c, uq,dY% yd c, iïmdok l%uh jd¾;dj;a ;nd .kak'
      p N+ushg" mig" c, ud¾. j,g yd fjk;a ixfõoS m%foaY j,g mrsir ydkshla isÿ ùug yels c, uQ,dY% j,ska c,h Ndú; lrk úg tu mrsir ydksh wju jk wdldrhg l,ukdlrKh lsrSu fyda m%;sldr lsrSu lrkak'
      p fCIa;%h ;=,oS fyda bka msg;oS mrsir ydkshla isoq ùu wju lsrSug yels jk mrsos jeisls,s j,ska yd c,dmjdyk moaO;s j,ska c,h bj;a lsrSug mshjr .kak'
      p wmú;% c,h wmyrKho we;=¿j fCIa;%fhka bj;a lrk c,h mrsir ydks wju jk wdldrhg l,ukdlrKh lsrSu fyda m%;sldr lsrSu lrkak'
      
      
    #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor