doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 fmdfydr fhoSu
    #section
      p fmdfydr Ndú; lsrSu yd mig tl;= lrk fjk;a øjH ksid hï ie,lsh hq;= ydkshla yªkd .;fyd;a ksIamdokh ¥IKh ùug ;sfnk bvlv wju lsrSu i|yd l%shd ud¾. wkq.ukh lrkak'
      p lDIsl¾u fomd¾;fïka;=fõ fmdfydr ks¾foaYh mokï lrf.k fmdfydr fhoSu fyda mia yd m;% mrSCId lr fmdfydr fhoSu lrkak'  ;ukaf.a lafIa;%fha ksIamdÈ; .=K;ajh ;yjqre l< ldnksl fmdfydr Ndú;hg .kak'
      p ner f,day j,ska fnda. ksIamdok ¥IKh ùu wju jk mrsos fmdfydr yd mig tl;= lrk fjk;a øjH f;dard .kak'
      p fouqyqka fmdfydr i|yd ks¾foaYs; fmdfydr Ndú;hg .kak
      p fmdfydrla f,i ñksia u< øjH Ndú; fkdlrkak'
      p fuu lreKq igyka lr ;nd .kak'
      
      h2 fmdfydr yd mig tl;= lrk fjk;a øjH 
      ul
        li ,nd .;a ia:dkh
        li j._h
        li m%udKh 
        li ,nd .;a oskh
        li j.djg fh¥ oskh
        li fh¥ øjH
        li fh¥ ia:dkh
        li fh¥ m%udKh
        li fh¥ l%uh 
        li l%shdlref.a ku
      p lDIsl¾u fomd¾;fïka;=fõ fmdfydr ks¾foaYh mokï lrf.k fmdfydr fhoSu fyda mia yd m;% mrSCId lr fmdfydr fhoSu lrkak'
      h3 lrú," jegfld¿ yd mf;da, i|yd fmdfydr ks¾foaYh 
       div(style='overflow-x:auto;')
      table
        tr
          th fmdfydr fhdok wjia:dj
          th hQrshd ls'.%E'$fy'
          th fhdok m%udKh iqm¾ fmdiafmaÜ ls'.%E'$fy'
          th ñhqf¾Ü T*a fmdgEIa    ls'.%E'$fy'	
        tr
          td uQ,sl fmdfydr
          td 75
          td 195
          td 60
        tr
          td me, u;=ùS i;s 3 lg miq
          td 75
          td -
          td 60
        tr
          td me, u;=ùS i;s 7 lg miq
          td 75
          td -
          td 60
      p mdxY= fi!LHh kv;a;= lsrSu iy ridhksl fmdfydr i|yd hk úhou wvq lr .ekSu i|yd ta iu.u ldnksl fmdfydro Ndú;d lrkak
      p iEu jir follg jrlau iEu j.d md;a;shlau ner f,day j,ska ¥IKh ù we;soehs mrSCId lr n,kak'
    #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor
