doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header
      h1 f.dúm, hkaf;%damlrK 
    #section
      ul
      
        li f.dúm, hkaf;%damlrK wdrCIdldrSj l%shd lrùfï ksmqK;djhla l%shdlrejkag ;sìh hq;=h
      
     #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor