doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='web_view.css')
  body
    #header(style='font-family:sans-serif;')
        h Something went wrong

    #section(style='font-family:sans-serif;')
        h2 Sorry
        h2 Information not updated.

     #footer(style='font-family:sans-serif;')
      | Copyright © CropAdvisor
